<div id="progress" style="align: center;">
    <h1>Ladataan...</h1>
        <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="sr-only">45% Complete</span>
        </div>
    </div>
</div>

<div id="data">


    <div class="row">
        <div class="infobox">
            <h1>{{newsItem.Title}}</h1>
            <p ng-bind-html="trust(newsItem.HTMLLead)"></p>
            <p ng-bind-html="trust(newsItem.HTMLContent)"></p>
        </div>

    </div>
</div>
