<div id="progress" style="align: center;">
    <h1>Ladataan...</h1>
</div>

<div id="data">

    <div class="row">
        <div class="col-md-12" >
            <div class="movieTitle">
                <h1>Elokuvien esitysaikataulu</h1>
                <h2>{{currentArea.Name}}</h2>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="infobox header">
                <div class="row">
                    <div class="col-md-6">


                        <form>
                            <label>Haku</label>
                            <div class="form-group">
                                <input ng-model="searchbox" class="form-control">
                            </div>
                        </form>


                    </div>
                    <div class="col-md-6">

                        <form>
                            <div class="form-group">
                                <label> Vaihda teatteria /aluetta</label>
                                <select ng-model="areaSelect" ng-options="ta as ta.Name for ta in theatreAreaList.TheatreArea track by ta.ID" class="form-control" required="true">
                                    <!--                <option ng-repeat="theatreArea in theaterAreaList.TheatreArea" value="{{theaterArea.ID}}">{{theaterArea.Name}}</option>-->
                                </select>

                                <a class="btn btn-primary" ng-href="#/theatreArea/{{areaSelect.ID}}/schedule/">Vaihda alue</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<div ng-if="isDef(filteredSchedule) && filteredSchedule.length == 0" class="row">
    <div class="col-md-12">
        <div class="infobox">
            <h1 style="text-align:center; text-transform: uppercase;">Ei näytöksiä</h1>
        </div>
    </div>

</div>
<div ng-if="filteredSchedule.length > 0" class="row">
    <div class="col-md-12" ng-repeat="n in filteredSchedule| filter: searchbox | limitTo:30">
        <div ng-if="strToDate(n.dttmShowStartUTC) > currTime" class="infobox">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-responsive" ng-src="{{n.Images.EventSmallImageLandscape}}">
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <span class="timeAndLocationString">{{formatDate(n.dttmShowStartUTC)}} klo {{formatTime(n.dttmShowStartUTC)}} - {{n.Theatre}}</span></br>
                    <h3 class="scheduleTitle">
                        <a ng-href="#/movie/{{n.EventID}}">
                            {{n.Title}}
                        </a>
                    </h3>
                    <p>
                        Sali: {{n.TheatreAuditorium}}</br>
                        Kesto: {{n.LengthInMinutes}} minuuttia, päättyy noin klo {{formatTime(n.dttmShowEndUTC)}}

                    </p>



                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary center" ng-href="{{n.ShowURL}}" target="_blank">Osta liput näytökseen</a></br>
                    Esityksen alkuun aikaa:</br>
                    {{ humanReadableTimeDifference(strToDate(n.dttmShowStartUTC) - currTime)}}

                </div>
            </div>
        </div>
    </div>
</div>


</div>
